<div class="row">
  <div class="large-6 columns large-centered">
    <h2 class="luckypot">Create your Potluck</h2>
    <form method="post" action="/new_potluck">
      Potluck Name:
      <input type="text" name="potluck[name]"><br>
      Potluck Location:
      <input type="text" name="potluck[location]"><br>
      Potluck Date:
      <input type="date" name="potluck[datetime]"><br><br>

      <button class="button success small">Save Potluck</button>
    </form>
  </div>
</div>