<div class="row">
  <div class="large-6 columns large-centered">
    <h2 class="luckypot">Add a new potluck keyword:</h2>
    <form method="post" action="/new_keyword">
      Tag:
      <input type="text" name="keyword[name]">
      <button class="button small">Save Keyword</button>
    </form>
  </div>
</div>